# Python
__pycache__/
*.py[cod]
*.pyc
*.so
.venv/
venv/

# Environment
.env
.env.local
!.env.example

# Testing & Cache
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.postman_collection.json
*.postman_environment.json
.postman/
*Postman_Collection.json
*.txt

# IDE
.vscode/
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

*.egg-info/
postgres_data/

# Future (ML, Celery, etc.)
data/
*.pkl
celerybeat-schedule